@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap');
/* font-family: 'Nanum Gothic', sans-serif; */

.background_img {
    position: absolute;
    top: 0;
    background-image: url('./static/back.jpg');
    width: 100vw;
    height: 100vh;
    background-size: contain;
    opacity: 1;
    overflow: hidden;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    overflow: hidden;
}

.content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px 20px;
    font-family: 'Nanum Gothic', sans-serif;
    color: whitesmoke;
    line-height: 30px;    
}

.header {
    height: 120px;
    text-align: left;
    margin: 10px 10px;
}

h1 {
    color: yellowgreen;
    user-select: none;
}

.avatar {
    float: left;
    width: 200px;
    height: 130px;
    margin: 10px
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0
}

ul a {
    color: yellowgreen;
    text-decoration: none;
}

ul a:hover {
    color: aqua;
    transition: 0.6s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.summary {
    font-size: 1.4rem;
    font-weight: 700;
    color: whitesmoke;
}

footer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    padding: 10px;
    justify-content: space-around;
    align-content: center;
}


.icons {
    position: relative;
    top: 5px;
    left: 18px;
    width: 64px;
    height: 64px;
}

.icons:hover {
    filter: grayscale(1);
    transition: 0.6s cubic-bezier(0.47, 0, 0.745, 0.715);
}

@media (max-width: 655px) {
    .summary {
        font-size: 1.1rem;
        font-weight: 700;
        color: whitesmoke;
    }

    .background_img {
        height: 150vh;

    }
}
